@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #111;
}
.droppable-elements p{
	margin:10px;
}

.droppable{
    width: auto;
    height: auto;
	background-color: #fee;
	border-bottom: 3px dashed #111;
	transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.draggable{
    width:50%;
    height:auto;
	align-:center;
    border: 3px solid #333;
	border-radius: 0.5rem;
	margin: 0.5rem;
	align-items: center;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	cursor: move;
	background-color: #3e3;
	transition: 0.5s;
}

.draggable:hover {
  opacity: 0.5;
}
/*
.droppable-elements p{
	float:left;
	width:75%;
	height:auto;
	border:1px;
}
.draggable-elements{
	float:left;
	width:24%;
	height:auto;
	border:1px;
}
*/
/*aditional */
.droppable span {
  font-size: 1.25rem;
  padding:2px;
  pointer-events: none; /* The element is never the target of pointer events */
}
.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.1);
}
.droppable.dropped {
  /*border-style: solid;*/
  color:efe;
  background-color:#bee3f0;
}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}


@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}

